h1{
    text-decoration: plum underline wavy;
    letter-spacing:20px;
    font-size:40px;
    font-weight:100;
    font-family:monospace;
    text-align:center;
    text-transform:uppercase;
    }/*YOUR CODE GOES IN HERE*/